<!DOCTYPE html>
<html>
<head>
    <title>Reading Comprehension - Gamma Lab</title>
</head>
<body>
    <h1>Gamma Lab Reading Comprehension</h1>
    <form action="/" method="POST">
        <h2>Paragraph</h2>
        <textarea name="paragraph" rows=30 cols=100>{{ paragraph }}</textarea>

        <h2>Question</h2>
        <textarea name="question" rows=5 cols=100>{{ question }}</textarea>

        <h2>Answer</h2>
        <textarea name=answer" rows=5 cols=100>{{ answer }}</textarea>
        <br><br>

        <input type="submit" name="ask"></input>
    </form>
</body>
</html>
